.board-detail-table {
    border-collapse: collapse;
    width: 390px;
    height: 285px;
}

.board-detail-table > tbody > tr {
    border-bottom: 1px solid #666666;
}

.board-detail-table > tbody > tr > td {
    padding: 10px;
}

.board-detail-input {
    width: 100%;
    line-height: 2.5;
}

.board-detail-area {
    width: 100%;
    height: 200px;
    resize: none;
}

.button-wrapper {
    padding-top: 12px;
}

.button-delete {
    margin-left: 5px;
}